<!DOCTYPE html>
<html>
<head>
  <title>Historical Bookings</title>
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />
</head>
<body class="application">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Historical Bookings</a>
          <button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">How to read this data ...</button>
      </div>
    </div>
  </div>
  <div  id="outer" class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <div class="row">

          <!-- Time Chart -->
          <div class="col-sm-12">
            <div class="chart-wrapper" data-step="1" data-intro="This line graph shows the number of bookings / events we have attende over the
given time period. You can select a particulat time period by clicking and dragging withn the chart" style="font-weight: normal" data-position="right">
              <div class="chart-title">
                Number of Bookings
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>
          <!-- Time Chart -->

          <!-- Event Type -->
          <div class="col-sm-6">
            <div class="chart-wrapper" data-step="2" data-intro="This section shows the type of events we have attended. Click on any of the events to see
how many of just that event we have catered for." style="font-weight: normal" data-position="right">
              <div class="chart-title">
                Event Type
              </div>
              <div class="chart-stage">
                <div id="event-type-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Event Type -->

      <!-- menu select -->
      <div class="col-sm-6">
        <div class="chart-wrapper"data-step="3" data-intro="This section shows just where in the country we have been.
to reset, simply select 'ALL'" style="font-weight: normal" data-position="right"
>
          <div class="chart-title">
            Region
          </div>
          <div class="chart-stage">
            <div id="menu-select"></div>
          </div>
        </div>
      </div>
      <!-- menu select -->

      <!-- Metric 1 -->
      <div class="col-sm-6">
        <div class="chart-wrapper"data-step="4" data-intro="Here we can see the number of events we have catered for in total" style="font-weight: normal" data-position="right"
>
          <div class="chart-title">
            Number Of Events Attended
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="number-bookings-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 -->
            <div class="col-sm-6">
        <div class="chart-wrapper"data-step="5" data-intro="Here you will see just how many individual people we have ACTUALLY served. WOW!" style="font-weight: normal" data-position="right"
>
          <div class="chart-title">
            Number Of Guests Served
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="total-guests-nd"></div>
          </div>
        </div>
      </div>

            <div class="chart-stage">
                   <button class="col-sm-6 btn-danger" type="button" onclick="dc.filterAll();dc.redrawAll();resetofs()">Reset All Filters</button>
               </div>
            </div>
        </div>
    </div>
  </div>
  <hr>
  <p class="small text-muted"> Data viz &#9829; from Candyland Cart Company</p>
  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
  <script src="{{url_for ('static', filename='lib/js/intro.js')}}" type="text/javascript"></script>
</body>
</html>